doctype html  
html(lang='en')  
 head
   title Dart
 body
   h1 Players
   table
    tr
      th id
      th name
      th email
      th win
      th lost
      th create
    each player in players
      tr
        th #{player.id}
        th #{player.name}
        th #{player.email}
        th #{player.gameWin}
        th #{player.gameLost}
        th #{player.createdAt}
        th 
          form(action='/players/'+player.id+'?_method=DELETE', method='post')
            input(type='submit', value='Supprimer')
    